body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  font-size: 24 px; }

header {
  background-color: dimgray;
  height: 80px; }

/*#container {
  background: url("{$root}eddyDog.png"); }
*/
