$fonts-text: Helvetica, Arial, sans-serif;
$font-headings: "Times New Roman", serif;
$black: rgb(0,0,0);
//$text-font-size: 24 px;
$h2: 1.4em;
$darkgray: rgb(105,105,105);
$white: rgb(255,255,255);
$body-background: url("../images/sinaiMountains.png");
$top-header: 80px;
$top-nav-padding: 15px 25px;
$top-nav-margin: 0 -15px;
$nav-items: 0.8em;
$title: 2em;
$menu-text: 1.1em;
$sub-title: 1.8em;
