$fonts-text: Helvetica, Arial, sans-serif;
$font-headings: "Times New Roman", serif;
$black: rgb(0,0,0);
$text-font-size: 24 px !default;
$darkgrey: rgb(105,105,105)
$primary-color: #ffffff;

$body-background: url("../images/sinaiMountains.png");
