$fonts-text: Helvetica, Arial, sans-serif;
$font-headings: Times New Romain, serif;
$black: rgb(0,0,0);
$h2: 1.4em;
$darkgray: rgb(68, 63, 63);
$white: rgb(255,255,255);
$body-background: url("../images/sinaiMountains.png");
$top-header: 80px;
$top-nav-padding: 0 25px;
$menu-padding: -40px;
$menu-margin: 10px;
$top-nav-margin: -80px 0px;
$nav-items: 0.8em;
$title: 2em;
$menu-text: 1.1em;
$sub-title: 1.8em;
//$light-gray: rgb(191, 186, 186)
