@import 'variable';

body {
  background-color: $black;
  background-image: url("/images/sinaiMountains.png");
  background-size:100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
 position: center;
}

ul {
  display: inline-flex;
  list-style-type: none;
  float: right;
  position: relative;
  padding: $top-nav-padding;
  margin: $top-nav-margin;
  font-size: $menu-text;
}

li a {
  font-family: $fonts-text;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  padding: $menu-padding;
  margin: $menu-margin;
}

h1,
h2,
h3,
h4 {
  font-family: $fonts-text;
  color: $white;
}

h1 {
  font-size: $title;
  margin: 0 40px;
  padding: 40px 80px;
}

h2 {
  font-size: $h2;
  margin-left: 240px;
  padding: 5px;
}

h3 {
  font-size: $title;
  text-align: center;
}

footer,
header {
  background-color: $darkgray;
  height: $top-header;
  width: 100%;
  color: $white;
}

.col-container {
 display: flex;
//  width: 100%;
 //margin: 80px 60px;
 position: center;
}
.w-100 {
  height: 80px;
}
img {
//  display: inline;
  width: 100%;
  margin: 50px 75px;
  //position: relative;
  border: 10px solid $darkgray;
  border-radius: 10px;
}
h4 {
  text-align: center;
  position: relative;
  color: $white;
  font-size: $sub-title;
   //margin: 20px -370px;
}

p {
  font-family: $fonts-text;
  margin: 0 40px;
  padding: 20px;
}
/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
*/
