@import 'variable';
body {
font-family: $fonts-text;
background-color: $black;
font-size: $text-font-size;
}

header
footer {
  background-color: $darkgrey;
  height: 80px;
}

#container {
  images: url("{$root}images/eddyDog.png");
  images: url("{$root}images/eddyDog.png");
  images: url("{$root}images/eddyDog.png");
  images: url("{$root}eddyDog.png");

}
